.swiper-dayselect-wrap {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.swiper-dayselect {
  width: 260px;
  // height: 300px;

  .swiper-slide-active {
    .day-item {
      color: var(--fn-color-2);
      background: #dceffd;
      border: 2px solid #ffffff;
      box-shadow: -1px 2px 4px #a5c5e3;
      border-radius: 30px;
      font-weight: bold;
    }
  }
  .day-item {
    border: 2px solid transparent;
    padding: 10px 0;
  }

  .swiper-slide {
    padding: 2px 2px 4px;
  }
}

.day-item {
  cursor: pointer;
  font-size: 18px;
}
.swiper-dayselect-navi {
  position: absolute;
  top: 32px;
  transform: scale(0.95);
  transform-origin: center;
  transition: transform 0.1s ease-in;
  opacity: 0.9;
  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1);
  }

  img {
    width: 40px;
  }
}

.swiper-dayselect-prev {
  left: 0;
}

.swiper-dayselect-next {
  right: 0;
}

.widget-info {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 280px;
  margin: 0 auto;
  .widget-info-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.widget-info-item {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .txt {
    line-height: 1.2;
  }
}

.widget-info-btn {
  max-width: 280px;
  margin: 0 auto;
}

.daily-goal {
  // width: 190px;
  margin: 0 auto;

  .txt1 {
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .txt2 {
    font-size: 100px;
    line-height: 1;
    font-weight: bold;
  }

  .txt3 {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
  }
}

.stat-item {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-radius: 16px;
  width: 170px;
  margin: 0 auto;
  position: relative;
  padding: 6px 10px 6px 50px;
  margin: 20px auto;
  text-align: left;
  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .txt1 {
    line-height: 1;
  }

  .txt2 {
    font-size: 18px;
    line-height: 1;
  }
}

.stat-container {
  max-width: 320px;
}

.chat-bubble {
  background-image: url("../img/fitness/bubble talk.png");
  background-repeat: no-repeat;
  width: 290px;
  // height: 163px;
  aspect-ratio: 387 / 163;

  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 15px;
  .text {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &.is-left {
    background-image: url("../img/fitness/bubble-talk-left.png");
  }
}

.chat-buble-space {
  height: 110px;
}

.people-wrap {
  position: relative;
  z-index: 1;
  margin: 0 auto;

  .chat-bubble {
    position: absolute;
    left: 100%;
    top: 0;

    &.is-left {
      left: auto;
      right: 90%;
    }
  }
}

.fitness-nav {
  &.is-absolute{
    position: absolute;
    z-index: 10;
  }
}

.fitness-nav-btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--bs-gray-800);
  .txt {
    margin-left: 10px;
  }
  &:hover {
    color: var(--fn-color-2);
  }
}

.fitness-type {
  max-width: 580px;
  padding-top: 50px;
}

.fitness-type-item {
  background: rgba(255, 255, 255, 0.42);
  box-shadow: inset 0px -2px 0px #ffffff;
  border-radius: 15px;
  color: var(--bs-gray-700);
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  padding-left: 85px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 70px;
  text-decoration: none;

  .content {
    padding: 0px 15px;
  }
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .progressbar {
    max-width: 140px;
    path:first-child {
      stroke: rgba(255, 255, 255, 1);
    }
    path:last-child {
      stroke: rgba(238, 22, 123, 1);
    }
  }
  .progress-text {
    font-size: 14px;
  }

  .img {
    background: rgba(255, 255, 255, 0.42);

    box-shadow: inset 0px -2px 0px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 45px;
      max-height: 45px;
      color: #f677ae;
    }
  }

  &:hover {
    color: var(--fn-color-2);
    .img {
      background: linear-gradient(180deg, #fd718c 0%, #ee127a 100%);
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.15);
      svg {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.fitness-train-item {
  background: rgba(255, 255, 255, 0.42);
  box-shadow: inset 0px -2px 0px #ffffff;
  border-radius: 25px;
  color: var(--bs-gray-900);
  display: flex;
  align-items: center;
  position: relative;
  height: 120px;
  padding-left: 130px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 70px;
  text-decoration: none;

  .content {
    padding: 0px 15px;
    flex: 1 1 0px;
  }
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  .text {
    font-size: 16px;
  }

  .arrow {
    flex-shrink: 0;
    padding-right: 15px;
    svg {
      width: 40px;
    }
  }

  .img {
    background: rgba(255, 255, 255, 0.42);

    box-shadow: inset 0px -2px 0px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  &:hover {
    color: var(--fn-color-2);
    .img {
      background: linear-gradient(180deg, #f5f5f5 0%, #efefef 100%);
    }
  }
}

.fitness-video {
  --plyr-color-main: red;
  margin: -5px -20px;
}

.fitness-video-desc{
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  justify-content: space-between;
  .title{
    line-height: 1;
    margin-bottom: 4px;
  }
  .text{
      color: var(--bs-gray-600)
  }
}