.progressbar.circle {
  height: 50px;

  .progressbar-text{
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-gray-800) !important;
  }
}

.progressbar.circle > svg {
  height: 100%;
  display: block;
}



.progressbar.line {
  position: relative;
  svg {
    height: 0.3rem;
  }
}