.tt1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}
body {
  font-family: "Montserrat", sans-serif;
}
// 1440px
// 1280px
@media only screen and (max-width: 992px) {
  .tt1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .tt1 {
    font-size: 30px;
  }
}

.ratio > * {
  object-fit: cover;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figure,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
input,
kbd,
label,
legend,
object,
mark,
menu,
nav,
ol,
output,
pre,
q,
ruby,
s,
samp,
section,
select,
span,
small,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video {
  line-height: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.ourprod-view .item.show {
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  transition: all 0.6s ease-in;
}

.ourprod-view .item {
}

.go_home_for_pc {
  display: inline-block;
}

.go_home_for_mobile {
  display: none;
}

@media (max-width: 767px) {
  .go_home_for_pc {
    display: none !important;
  }
  .go_home_for_mobile {
    display: inline-block !important;
  }
}

.gt-thumb {
  position: relative;
  padding: 40px;
  &:before {
    content: "";
    width: 250px;
    height: 250px;
    background: url(https://ttplus.com.vn/wp-content/uploads/2021/04/102254217-seamless-pattern-from-crossed-lines-endless-background-from-crosses.jpg);
    background-size: contain;
    position: absolute;
    bottom: 6px;
    right: 0px;
    display: inline-block;
    z-index: -1;
  }
}

.prod-dt-cate .slider-prod .slick-arrow::before {
  display: none;
}
.ttplus-section {
  // padding: 90px 0;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media screen and (max-width: 767px) {
  .ttplus-section {
    // padding: 30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.ttplus-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  // .ttplus-section {
  //   padding: 30px 0;
  // }
  .tit-main + .h4 {
    font-size: 16px;
  }
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

ul {
  padding-left: 0;
}

.arck-project-filter-btn .button-group {
  margin-bottom: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  overflow-x: auto;
  justify-content: flex-start;
  -webkit-overflow-scrolling: auto;
  white-space: nowrap;
  text-align: center;
  .filter-button {
    padding: 5px 10px;
    width: auto;
    
  
  }
}

.arck-project-filter-content {
  .inner-img {
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

.arck-sponsor-slider .arck-sponsor-slider-item {
  padding-left: 20px;
  padding-right: 20px;
}

.header-cta {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header-cta-btn {
  cursor: pointer;
  &:hover {
    color: white;
  }
  .dropdown-toggle {
    color: white;
  }
  > * {
    padding: 8px 15px;
  }
}

.sticky-on {
  .dropdown-toggle {
    color: rgba(0, 0, 0, 0.9);
  }
}

.hder-section .hd-close .btn-hd-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(https://img.lxhausys.com/public/images/header/btn_header_close.png)
    no-repeat center center #f2f2f2;
}

.sch-top .sch-frm .btn-hd-sch {
  display: inline-block;
  width: 55px;
  height: 27px;
  background: url(https://img.lxhausys.com/public/images/header/btn_header_search.png)
    no-repeat center center;
}

.ft-title {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.an-hung-footer {
  color: rgba(255, 255, 255, 0.6);
}

.ft-address {
  font-size: 14px;
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  .container.sub {
    max-width: 1200px;
  }
}

.ttplus-section-bg-dark {
  position: relative;
  z-index: 1;
  background-position: center center;
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.text-black {
  color: rgba(0, 0, 0, 0.9);
}

.arck-project-item {
  &:before {
    display: none;
  }

  .inner-img {
    position: relative;
  }

  .detail-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
    padding: 20px;
    align-items: flex-end;
    justify-content: center;
    // span{
    //   display: inline-block;
    //   text-align: center;
    //   background-color: var(--main-color);
    //   color: white;
    //   padding: 2px 20px;
    //   font-size: 13px;
    //   border-radius: 20px;
    // }
  }

  .name {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
  }
}
.menu-box ul {
  padding-left: 0;
}
.menu-box ul li {
  text-align: left;
}

.gioithieu-bg-logo {
  opacity: 0.1;
  z-index: -1;
  filter: grayscale(100%);
}

.businessList .bgArea {
  height: 300px;
}

.project-link-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  &:hover,
  &:focus,
  &:active {
    color: white;
  }
}

.recent-blog-img {
  flex-shrink: 0;
}

.btn2-anim {
  position: relative;
  width: auto;
  padding: 0 19px;
  transition: all 0.5s ease-out 1.8s;

  height: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 100%;
    border-radius: 30px;
    background: #000;
    opacity: 0.2;
    transition: all 0.45s ease-in-out 0s;
  }
  &:hover::after {
    width: 100%;
    opacity: 0.8;
  }
  span {
    font-weight: bold;
    position: relative;
    display: block;
    padding-right: 41px;
    background: url(../img/arrw_right_04.png) right center no-repeat;
    font-size: 15px;
    line-height: 33px;
    color: #fff;
    z-index: 100;
    white-space: nowrap;
  }
}

.arck-project-item:hover {
  .btn2-anim {
    &:after {
      width: 100%;
      opacity: 0.8;
    }
  }
}

.arck-project-item-overlay {
  .inner-img {
    &:after {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      content: "";
      height: 100%;
      position: absolute;
      transition: var(--transition);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.ttplus-s1 {
  margin-top: 40px;
  padding-right: 110px;
  position: relative;
}

.ttplus-s1-icon {
  position: absolute;
  width: 80px;
  right: 0;
  top: 10px;
  padding: 14px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.ttplus-s1-tt {
  display: flex;
  align-items: center;
  .heading {
    width: 90px;
    flex-shrink: 0;
    margin-bottom: 0;
    font-size: 22px;
  }
  .dash {
    flex-grow: 1;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.ttplus-s1-he {
  // text-align: center;
}

.ttplus-s1-desc {
  // text-align: center;
  // margin-top: 15px;
  // padding-top: 15px;
  // position: relative;
  // &:after{
  //   content: "";
  //   width: 80%;
  //   height: 2px;
  //   background-color: rgba(0, 0, 0, 0.6);
  //   position: absolute;
  //   top:0 ;
  //   left: 10%;
  // }
}
@media screen and (max-width: 767px) {
  .ttplus-s1-tt {
    .heading {
      width: 80px;

      font-size: 18px;
    }
  }
}

.ttn-nav {
  display: flex;
  justify-content: space-between;
  .ttn-item {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 767px) {
  .ttn-nav {
    display: block;
    justify-content: space-between;
  }
  .ttn-item {
    flex: 0 0 100%;
    padding: 10px 0;
  }
}

.blank-space {
  height: 180px;
}

.ttn-item {
  display: flex;
  align-items: center;
  &:hover {
    .ttn-title {
      text-decoration: underline;
    }
  }
  &.right {
    .ttn-content {
      padding-right: 15px;
      text-align: right;
    }
  }
}

.ttn-img {
  width: 100px;
  border-radius: 5px;
}

.ttn-content {
  flex: 1 1 0px;
  padding-left: 15px;
}

.ttn-title {
  font-size: 16px;
  font-weight: 600;
}

.tnt-sub {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.ttn-recom {
  margin-top: 50px;
  margin-bottom: 10px;
}

.tnt-blog-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: block;
  &:hover {
    .tnt-blog-content {
      text-decoration: underline;
    }
  }
}

.tnt-blog-content {
  padding: 13px 15px;
  font-weight: 600;
}

.arck-header-section .dropdown-menu .dropdown-item.active {
  background-color: var(--main-color);
  color: white !important;
}

.arck-header-section .dropdown-language .dropdown-menu {
  min-width: 200px;
  top: 42px;
}
.tab-ui-dark {
  margin-bottom: 50px;
}
.tab-ui-dark ul li.btn-tab.on {
  background: #2c2c2d;
  position: relative;
}

.tab-ui-dark ul li.btn-tab {
  flex: 1;
  scroll-snap-align: center;
  margin: 0;
  border: 1px solid #2c2c2d;
}

.tab-ui-dark ul li.btn-tab.on button {
  border-bottom: none;
  color: #fff;
  background-color: transparent;
}

.tab-ui-dark ul li.btn-tab button {
  height: 3.4117647059rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #2c2c2d;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .tab-ui-dark ul li.btn-tab button {
    font-size: 14px;
    letter-spacing: 0;
  }
}

select.inp-text {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  padding-left: 0;
}
.cntu-view .find-btns a img {
  height: 58px;
}

//Check responsive

@media screen and (max-width: 820px) {
  // .ttn-nav {
  //   display: block;
  //   justify-content: space-between;
  // }
  // .ttn-item {
  //   flex: 0 0 100%;
  //   padding: 10px 0;
  // }

  #container.business #contentsArea .contentsBox .contentsBoxWrap {
    width: 100%;
    padding: 0 20px 20px;
  }

  #container.business #contentsArea .contentsBox .contentsBoxWrap > h3 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 1em;
    padding-top: 60px;
    text-align: center;
  }
  #container.business #contentsArea .contentsBox .contentsBoxWrap > p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 1.4em;
  }

  #container.business #contentsArea .contentsBox .contentsBoxWrap > .imgWrap {
    width: 100%;
    aspect-ratio: 12/4;
    height: auto;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    > .imgWrap
    .textArea {
    width: 100%;
    padding: 10px;
    height: 100%;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    > .imgWrap
    .textArea
    h4:after {
    display: none;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    > .imgWrap
    .textArea
    h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    > .imgWrap
    .textArea
    p {
    font-size: 14px;
  }
  #container.business #contentsArea .contentsBox .contentsBoxWrap .mainBox ul {
    padding-top: 20px;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    .mainBox
    ul
    li {
    width: 100px;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    .mainBox
    ul
    li
    .thumArea {
    height: 66px;
  }
  #container.business
    #contentsArea
    .contentsBox
    .contentsBoxWrap
    .mainBox
    ul
    li
    strong {
    padding: 10px 0;
    font-size: 16px;
  }
  #container.business .idxBannderWrap {
    padding: 50px 0px;
    box-sizing: border-box;
  }
  #container.business .idxBannderWrap .slick-slide a {
    width: 100%;
  }
  #container.business .bgArea .characteristic ul {
    width: 100%;
  }
  #container.business .bgArea .bgWrap {
    display: block;
    padding: 150px 0 50px;
    height: auto;
  }
  #container.business .bgArea h2 {
    font-size: 40px;
  }
  #container.business .bgArea .characteristic {
  }
  #container.business .bgArea .characteristic ul li a {
  }

  #container.business .bgArea .characteristic ul li a:before {
    opacity: 1;
  }
  #container.business .bgArea .characteristic ul li a:after {
    opacity: 0;
  }

  #container.business .bgArea .characteristic ul li a .over_before {
    opacity: 0;
  }
  #container.business .bgArea .characteristic ul li a .over_after {
    opacity: 1;
  }
  #location .locationWrap {
    width: 100%;
    padding: 0 20px;
  }

  .visual-detail .visual-image .txt-box > div {
    font-size: 40px !important;
  }
  .visual-detail {
    height: 24rem;
  }
  #location .locationWrap li:first-child {
    padding-right: 15px;
    margin-right: 11px;
    font-size: 14px;
  }
  #location .locationWrap li {
    padding-right: 15px;
    margin-right: 11px;
  }
  #location .locationWrap li a {
    font-size: 14px;
  }

  #container.businessList .topArea .topWrap {
    width: 100%;
    margin: 0;
    padding: 50px 16px 40px;
  }
  #container.businessList .topArea .topWrap > .imgArea {
    width: calc(100% + 32px);
    // aspect-ratio: 74/62;
    height: auto;
    float: none;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -50px;
    border: none;
  }
  #container.businessList .topArea .topWrap > .imgArea .slick-slide {
    width: 100%;
    aspect-ratio: 740/525;
    height: auto;
   
  }
  #container.businessList .topArea .topWrap > .imgArea .linkBtn {
    width: 100%;
    aspect-ratio: 740/525;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .businessList .bgArea {
    height: 150px;
  }
  #container.businessList .topArea .topWrap > .textArea {
    float: none;
    padding-top: 30px;
    width: 100%;
    padding-left: 0;
  }
  #container.businessList .contBox .contWrap {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  #container.businessList .contBox .contWrap h3 {
    padding: 30px 0 20px;
    font-size: 22px;
  }

  #container.businessList .tabArea ul {
    width: 100%;
  }
  #container.businessList .tabArea ul li {
    display: inline-block;
    margin: 0 5px;
  }
  #container.businessList .tabArea ul li > a {
    line-height: 1em;
    // height: 40px;
    padding: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  #container.businessList #downloadCont .contWrap > div > ul > li {
    width: 100%;
    min-height: 87px;
    padding: 18px 70px 18px 50px;
    margin-right: 0;
  }
  #container.businessList
    #downloadCont
    .contWrap
    > div
    > ul
    > li:nth-child(2n + 1) {
    margin-right: 0;
  }
  #container.businessList #downloadCont .contWrap > div > ul > li a {
    right: 0;
  }
  #container.businessList #downloadCont .contWrap>div>ul>li:before{
    left: 5px;
  }
  #container.businessList #relatedCont .relatedSlide .slick-list{
    width: 100%;
  }
  #container.businessList #downloadCont .contWrap>div>strong{
    font-size: 18px;
  }
  .bgArea{
    height: 300px;
  }

  #listLayerout #listLayeroutWrap{
    width: 100%;
    padding: 50px 16px 30px;
  }
  #listLayerout #listLayeroutWrap .listCont{
    display: block;
  }
  #listLayerout #listLayeroutWrap .listCont>div.slideArea{
    width: 100%;
    display: block;
  }
  #listLayerout #listLayeroutWrap .listCont .listArea{
    padding-left: 0;
    display: block;
  }

  #listLayerout #listLayeroutWrap .listCont .listArea>ul{
   
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    gap: 1rem;
  }

  #listLayerout #listLayeroutWrap .listCont .listArea>ul li{
    width: 100%;
    margin-right: 0;
  }
  #listLayerout #listLayeroutWrap .listCont .listArea>ul li a.linkBtn .thumArea{
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }
  #listLayerout #listLayeroutWrap .listCont .listArea>ul li a.linkBtn .textArea{
    padding: 14px 0 20px;
  }
  #listLayerout #listLayeroutWrap .listCont .listArea>ul li a.linkBtn .textArea strong{
    // min-height: 80px;
    min-height: auto;
    font-size: 24px;
    font-family: Montserrat,sans-serif;
    line-height: 1.3em;
  }
  #listLayerout #listLayeroutWrap .listCont .listArea>ul li a.linkBtn .textArea span{
    font-size: 16px;
  }
  #listLayerout #listLayeroutWrap .listCont .paging{
    padding-top: 30px;
  }
  #listLayerout #listLayeroutWrap .listCont{
    padding-bottom: 20px;
  }
}
#container.businessList #relatedCont .relatedSlide .slick-slide a.linkBtn .thumArea{
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
}

.arck-sponsor-slider .slick-track {
  margin:auto;
}
.prod-dt-view .slider-prod img {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.ourprod-wrap .ourprod-content .btn2-golmore.check {
  width: 72px;
  height: 31px;
  margin-bottom: 78px;
  display: inline-block;
  transition: .5s ease;
}
.ourprod-wrap .ourprod-content .item.off .btn2-golmore.check{
  opacity: 0;
}