@import "progressbar.scss";
@import "player.scss";



html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  --fn-color-1: #ff7ba9;
  --fn-color-2: #EE1679;
}

.text-color-2{
  color: var(--fn-color-2);
} 

.fitness-header{
  display: flex;
  >div{
    flex: 1 1 0px;
  }
}

.menu-btn{
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-image: url("../img/fitness/bg.jpg");
}
.fitness-root {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;

  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px;
}

.fitness-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.fitness-body {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.8);
  border-radius: 0 30px 30px 30px;
  margin-top: -1px;
}

.fitness-tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  list-style: none;
  .nav-item{
    display: block;
  }
  min-height: 77px;
}

.fitness-tab-item {
  padding: 0;
  display: block;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: #c3dff3;
  box-shadow: inset 0px -6px 10px #8bb3d0;
  transition: all 0.2s ease-in;
  .txt {
    padding-left: 15px;
    padding-right: 25px;
    font-size: 14px;
  }

  .img {
    width: 54px;
    margin-left: -1px;
    transition: all 0.2s ease-in;
  }
  &:hover{
    color: var(--fn-color-1);
  }

  &.active {
    // background-color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(6px);
    box-shadow: none;
    color: var(--fn-color-1);
    font-weight: bold;
    border-radius: 30px 30px 0 0;
    padding: 0px 0px 0px 0;
    .img {
      width: 80px;
    }
    .txt {
    font-size: 20px;

      padding-left: 25px;
      padding-right: 35px;
    }
  }
}

.btn-custom-1{
  background: linear-gradient(180deg, #F086A2 0%, #EF147C 50%, #EF147C 100%);
  border: none;
  border-radius: 30px;
  display: block;
  &:hover{
    opacity: 0.9;
  }
}

@import "page1.scss";

.people-main{
  aspect-ratio: 330 / 540;

  max-width: 330px;
  // height: 540px;
  width: 100%;


}
//Hide logo Spline
#preloader ~  #logo{
  display: none !important;
}

#container{
   aspect-ratio: 330 / 540;
  max-width: 330px;
  width: 100%;
}
