.tt1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}
body {
  font-family: "Inter", sans-serif;
}
// 1440px
// 1280px
@media only screen and (max-width: 992px) {
  .tt1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .tt1 {
    font-size: 30px;
  }
}

a, a:active, a:hover, a:link, a:visited, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, object, mark, menu, nav, ol, output, p, pre, q, ruby, s, samp, section, select, span, small, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video{
  line-height: 1.25em;
}

.ourprod-view .item.show {
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  transition: all 0.6s ease-in;
}

.ourprod-view .item {
}

.go_home_for_pc {
  display: inline-block;
}

.go_home_for_mobile {
  display: none;
}

@media (max-width: 767px) {
  .go_home_for_pc {
    display: none !important;
  }
  .go_home_for_mobile {
    display: inline-block !important;
  }
}

.gt-thumb {
  position: relative;
  padding: 40px;
  &:before {
    content: "";
    width: 250px;
    height: 250px;
    background: url(https://ttplus.com.vn/wp-content/uploads/2021/04/102254217-seamless-pattern-from-crossed-lines-endless-background-from-crosses.jpg);
    background-size: contain;
    position: absolute;
    bottom: 6px;
    right: 0px;
    display: inline-block;
    z-index: -1;
  }
}

.prod-dt-cate .slider-prod .slick-arrow::before {
  display: none;
}

.ttplus-section {
  padding: 90px 0;
}

.ttplus-title {
  margin-bottom: 40px;
}

.arck-project-filter-btn .button-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter-button {
    padding: 5px 10px;
    width: auto;
  }
}

.arck-project-filter-content{
  .inner-img{
    
  }
}


@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

.arck-sponsor-slider .arck-sponsor-slider-item{
  padding-left: 20px;
  padding-right: 20px;
}

.header-cta{
  font-size: 20px;
  display: flex ;
  align-items: center;

}

.header-cta-btn{
  padding: 8px 15px;
  cursor: pointer;
  &:hover{
    color: #9c0216
  }
}

.hder-section .hd-close .btn-hd-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(https://img.lxhausys.com/public/images/header/btn_header_close.png) no-repeat center center #f2f2f2;
}

.sch-top .sch-frm .btn-hd-sch {
  display: inline-block;
  width: 55px;
  height: 27px;
  background: url(https://img.lxhausys.com/public/images/header/btn_header_search.png) no-repeat center center;
}

.ft-title{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.an-hung-footer{
  color: rgba(255,255,255,0.6)
}

.ft-address {
  font-size: 14px;
  margin-top: 15px;
}