.tt1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}
// 1440px
// 1280px
@media only screen and (max-width: 992px) {
  .tt1 {
    font-size: 30px;
  }
}


@media only screen and (max-width: 768px) {
  .tt1 {
    font-size: 30px;
  }
}


.ourprod-view .item.show{
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  transition: all 0.6s ease-in;
}

.ourprod-view .item{
  
}