.tt1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}
body {
  font-family: "Inter", sans-serif;
}
// 1440px
// 1280px
@media only screen and (max-width: 992px) {
  .tt1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .tt1 {
    font-size: 30px;
  }
}

.ourprod-view .item.show {
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  transition: all 0.6s ease-in;
}

.ourprod-view .item {
}

.go_home_for_pc {
  display: inline-block;
}

.go_home_for_mobile {
  display: none;
}

@media (max-width: 767px) {
  .go_home_for_pc {
    display: none !important;
  }
  .go_home_for_mobile {
    display: inline-block !important;
  }
}

.gt-thumb {
  position: relative;
  padding: 40px;
  &:before {
    content: "";
    width: 250px;
    height: 250px;
    background: url(https://ttplus.com.vn/wp-content/uploads/2021/04/102254217-seamless-pattern-from-crossed-lines-endless-background-from-crosses.jpg);
    background-size: contain;
    position: absolute;
    bottom: 6px;
    right: 0px;
    display: inline-block;
    z-index: -1;
  }
}

.prod-dt-cate .slider-prod .slick-arrow::before {
  display: none;
}

.ttplus-section {
  padding: 90px 0;
}

.ttplus-title {
  margin-bottom: 40px;
}

.arck-project-filter-btn .button-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter-button {
    padding: 5px 10px;
  }
}

.arck-project-filter-content{
  .inner-img{
    
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}
