<div class="swiper-dayselect-wrap">
  <div class="swiper swiper-dayselect">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">M</div>
          <div class="pt-2">19</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">T</div>
          <div class="pt-2">20</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">W</div>
          <div class="pt-2">21</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">T</div>
          <div class="pt-2">22</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">F</div>
          <div class="pt-2">23</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">S</div>
          <div class="pt-2">24</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="day-item ">
          <div class="py-1">S</div>
          <div class="pt-2">25</div>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
  </div>
  <div class="swiper-dayselect-navi swiper-dayselect-prev">
    <img src="@@webRoot/assets/img/fitness/icon-left.png" alt="" />
  </div>
  <div class="swiper-dayselect-navi swiper-dayselect-next">
    <img src="@@webRoot/assets/img/fitness/icon-right.png" alt="" />
  </div>
</div>
