<div class="container-fluid text-center">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="">&nbsp;</div>
      @@include('_BlockSelectDay.html')
      <div class="">&nbsp;</div>
      @@include('_BlockWidgetInfo.html', { "data": [ { "title": "462", "total":
      "1000", "text": "Walking ", "value": " 1000 steps" }, { "title": "239",
      "total" : "800", "text": "Calories Burn ", "value": "800" }, { "title":
      "2", "total" : "10", "text": "Weight Loss " , "value" : '10 kg'} ] })

      <div class="widget-info-btn mt-4">
        <a
          class="btn btn-primary btn-lg btn-custom-1"
          href="block1-step1.html"
          role="button"
        >
          Start your day</a
        >
      </div>
    </div>
    <div class="col-12 col-lg-4" style="align-self: center">
      <div class="people-wrap">
        <div class="chat-bubble">
          <div class="text fs-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis.
          </div>
        </div>
        <div class="people-main">
          <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.273/build/spline-viewer.js"></script>
          <spline-viewer loading-anim url="https://prod.spline.design/22d5TARPKS1f2ykK/scene.splinecode"></spline-viewer>

          <!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.273/build/spline-viewer.js"></script> -->
          <!-- <script type="module" src="@@webRoot/assets/img/fitness/media/spline-viewer.js"></script> -->
          <!-- <spline-viewer loading-anim url="@@webRoot/assets/img/fitness/media/scene.splinecode"></spline-viewer> -->
          
          <!-- <img
            src="@@webRoot/assets/img/fitness/model.png"
            class="img-fluid img"
          /> -->
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="stat-container">
        <div class="chat-buble-space">&nbsp;</div>
        <div class="daily-goal mt-4">
          <div class="text-color-2 txt1 text-center">DAILY GOAL</div>
          <div class="text-color-2 txt2 text-center">
            <span class="counter">35</span><span class="txt3">%</span>
          </div>
        </div>

        <div class="stat">
          <div class="stat-item">
            <div class="icon">
              <img
                src="@@webRoot/assets/img/fitness/Vector Smart Object.png"
                class="img-fluid"
                width="60"
              />
            </div>
            <div class="txt1 text-color-2 fw-bold fs-4">1820</div>
            <div class="txt2">Calories</div>
          </div>

          <div class="stat-item">
            <div class="icon">
              <img
                src="@@webRoot/assets/img/fitness/Vector Smart Object-1.png"
                class="img-fluid"
                width="70"
              />
            </div>
            <div class="txt1 text-color-2 fw-bold fs-4">3248</div>
            <div class="txt2">Steps</div>
          </div>

          <div class="stat-item">
            <div class="icon">
              <img
                src="@@webRoot/assets/img/fitness/Vector Smart Object-2.png"
                class="img-fluid"
                width="80"
              />
            </div>
            <div class="txt1 text-color-2 fw-bold fs-4">6.5</div>
            <div class="txt2">Hours</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
