<div class="container-fluid">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-12">
      <div class="fitness-nav is-absolute">
        <div class="" style="height: 15px">&nbsp;</div>

        <a href="block1-step2.html" class="fitness-nav-btn">
          <img
            src="@@webRoot/assets/img/fitness/icon-left.png"
            alt=""
            width="44"
          />
        </a>
      </div>
    </div>
    <!-- <div>&nbsp;</div> -->
    <div class="col-12 col-lg-12">
      <div class="fitness-video">
        <video
          poster="@@webRoot/assets/img/fitness/media/movie.jpg"
          class="player"
          playsinline
          controls
          preload="none"
        >
          <source
            src="@@webRoot/assets/img/fitness/media/movie.mp4"
            type="video/mp4"
          />
        </video>

        <!-- <div
          class="player"
          data-plyr-provider="youtube"
          data-plyr-embed-id="j_Y2Gwaj7Gs"
        ></div> -->
      </div>
      <div class="fitness-video-desc mt-4">
        <div class="">
          <h1 class="fw-bold title">Cut Your Body Fat</h1>
          <div class="text">148kcal | 24 min | Advance</div>
        </div>

        <div>
          <a
            class="btn btn-primary btn-lg px-5 btn-custom-1"
            href="block1-step1.html"
            role="button"
          >
            Start your day</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
