<div class="fitness-tab nav nav-tabs" id="fitness-tab" role="tablist">
  <div
    class="fitness-tab-item active"
    id="fitness-home-tab"
    data-bs-toggle="pill"
    data-bs-target="#fitness-home"
    type="button"
    role="tab"
    aria-controls="fitness-home"
    aria-selected="true"
  >
    <img
      src="@@webRoot/assets/img/fitness/icon my plan@2x.png"
      class="img-fluid img"
    />
    <div class="txt">My Plan</div>
  </div>
  <div
    class="fitness-tab-item"
    id="fitness-workout-tab"
    data-bs-toggle="pill"
    data-bs-target="#fitness-workout"
    type="button"
    role="tab"
    aria-controls="fitness-workout"
    aria-selected="true"
  >
    <img
      src="@@webRoot/assets/img/fitness/workout icon@2x.png"
      class="img-fluid img"
    />
    <div class="txt">Workouts</div>
  </div>
  <div
    class="fitness-tab-item"
    id="fitness-courses-tab"
    data-bs-toggle="pill"
    data-bs-target="#fitness-courses"
    type="button"
    role="tab"
    aria-controls="fitness-courses"
    aria-selected="true"
  >
    <img
      src="@@webRoot/assets/img/fitness/courses@2x.png"
      class="img-fluid img"
    />
    <div class="txt">Course</div>
  </div>

  <div
    class="fitness-tab-item"
    id="fitness-challenges-tab"
    data-bs-toggle="pill"
    data-bs-target="#fitness-challenges"
    type="button"
    role="tab"
    aria-controls="fitness-challenges"
    aria-selected="true"
  >
    <img
      src="@@webRoot/assets/img/fitness/chanllenges@2x.png"
      class="img-fluid img"
    />
    <div class="txt">Challenges</div>
  </div>
</div>