

<footer id="arck-footer" class="arck-footer-section" data-background="assets/img/bg/footer-bg.jpg">
  <div class="arck-footer-widget-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="arck-footer-widget headline ul-li-block pera-content">
            <div class="contact-cta-widget">
              <h3 class="widget-title">Contact Us</h3>
              <div class="contact-cta-item">
                <ul>
                  <li><i class="fas fa-map-marker-alt"></i> <span>380 St Kilda Road, Melbourne
                  VIC 3004, Australia </span></li>
                  <li>
                    <i class="fal fa-phone-alt"></i>
                    <span> +123 (4567) 890 	<br> +123 (4567) 890 </span>
                  </li>
                  <li>
                    <i class="fas fa-envelope"></i>
                    <span> info@envato.com <br> www.yourname.com </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
      
        <div class="col-lg-6 col-md-6">
          <div class="arck-footer-widget headline ul-li-block pera-content">
            <div class="newslatter-widget">
              <h3 class="widget-title">Liên hệ</h3>
              <div class="arck-appointment-form-wrap">
                <form action="#" method="get">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" name="name" placeholder="Họ và tên">
                    </div>
                   
                    <div class="col-md-6">
                      <input type="text" name="phone" placeholder="Số điện thoại">
                    </div>
                    <div class="col-md-6">
                      <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="col-md-12">
                      <textarea name="message" placeholder="Nhập nội dung"></textarea>
                    </div>
                  </div>
                  <button type="submit">Send mail</button>
                </form>
              </div>
              <div class="footer-social ul-li">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arck-footer-copyright text-center">
    © 2023 T&T Plus . All rights reserved
  </div>
</footer>