<header class="scr-hder main on" style="top: 0px">
    <div class="wrapper-select-lang inner">
      <span class="notice-lang"
        >Choose another country or region to see content specific to your
        location.</span
      ><span class="sel-box sel-nation"
        ><button type="button" class="btn-sel">
          <span class="simbol_nation_gl">Global</span>
        </button>
        <div class="sel-list">
          <ul class="box">
            <li>
              <button type="button" class="simbol_nation_gl">
                Global
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_us">
                United States
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_eu">
                Europe
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_eu">
                Europe_HFLOR
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_uk">
                UK_HFLOR
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_rs">
                Russia
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_rs">
                Russia_HIMACS
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_in">
                India
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_cn">
                China
              </button>
            </li>
            <li>
              <button type="button" class="simbol_nation_tk">
                Turkey_HFLOR
              </button>
            </li>
          </ul>
        </div></span
      ><span class="sel-box sel-lang disabled"
        ><button type="button" class="btn-sel">
          <span>English</span>
        </button>
        <div class="sel-list">
          <ul class="box">
            <li><button type="button">English</button></li>
          </ul>
        </div></span
      ><button type="button" class="btn btn-go-lang">
        <span>Go</span></button
      ><button type="button" class="btn-close-lang"></button>
    </div>
    <div class="clear">
      <div class="fl-l">
        <div class="logo">
          <a
            href="https://www.lxhausys.com/gl/index"
            class="go_home_for_pc"
            >LX Hausys</a
          ><a
            href="https://www.lxhausys.com/gl/index"
            class="go_home_for_mobile"
            style="display: none"
            >LX Hausys</a
          >
        </div>
        <ul class="menu wide-pc">
          <li data-gnb="mlist-segm" class="">
            <a href="javascript:void(0);"><span>SEGMENTS</span></a>
          </li>
          <li data-gnb="mlist-prod">
            <a href="javascript:void(0);"><span>PRODUCTS</span></a>
          </li>
          <li data-gnb="mlist-insp">
            <a href="javascript:void(0);"><span>INSPIRATION</span></a>
          </li>
          <li data-gnb="mlist-pros">
            <a href="javascript:void(0);"><span>PROS</span></a>
          </li>
          <li data-gnb="mlist-about">
            <a href="javascript:void(0);"><span>ABOUT US</span></a>
          </li>
          <li data-gnb="mlist-supp">
            <a href="javascript:void(0);"><span>CONTACT</span></a>
          </li>
        </ul>
      </div>
      <div class="fl-r">
        <div class="hd-btns01">
          <ul>
            <li>
              <a
                href="javascript:void(0);"
                title="Open Search Popup"
                class="ico-01"
              ></a>
            </li>
            <li class="p-ui">
              <a href="javascript:void(0);" class="ico-02"><!----></a>
            </li>
            <!----><!----><!----><!---->
            <li><a href="javascript:void(0);" class="ico-05"></a></li>
            <!---->
            <li>
              <a id="btnLang" type="button" class="ico-06 btn-lang"></a>
            </li>
            <li id="m-menu"><a class="icon-hamburger"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hder-section sch-ui">
      <div class="hd-sec-cont sch-area">
        <div class="sch-top">
          <div class="hd-close">
            <button type="button" data-ui="sch-ui" class="btn-hd-close">
              <span class="blind">Close Button</span>
            </button>
          </div>
          <div class="w-con">
            <div class="sch-frm">
              <label for="inpHdSch" class="blind"
                >Input Search Keyword</label
              ><input
                type="text"
                id="inpHdSch"
                placeholder="Enter product name, code, collection, keyword"
                class="ipt-hd-sch wrd-on ui-autocomplete-input"
                autocomplete="off"
              /><button type="button" class="btn-hd-sch">
                <span class="blind">Search Button</span>
              </button>
            </div>
          </div>
        </div>
        <!----><!----><!---->
      </div>
    </div>
  
  </header>