<!-- <script src="@@webRoot/assets/img/jquery-3.7.0.min.js"></script>

<script src="@@webRoot/assets/img/jquery-ui.js"></script>

<script src="@@webRoot/assets/img/bootstrap.bundle.min.js"></script>

<script src="@@webRoot/assets/img/slick.min.js"></script> -->

<script src="@@webRoot/assets/js/jquery.min.js"></script>
<script src="@@webRoot/assets/js/bootstrap.min.js"></script>
<script src="@@webRoot/assets/js/popper.min.js"></script>
<script src="@@webRoot/assets/js/jquery.magnific-popup.min.js"></script>
<script src="@@webRoot/assets/js/appear.js"></script>
<script src="@@webRoot/assets/js/slick.js"></script>
<script src="@@webRoot/assets/js/jquery.counterup.min.js"></script>
<script src="@@webRoot/assets/js/waypoints.min.js"></script>
<script src="@@webRoot/assets/js/isotope.pkgd.min.js"></script>
<script src="@@webRoot/assets/js/twenty.js"></script>
<script src="@@webRoot/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="@@webRoot/assets/js/masonry.pkgd.min.js"></script>
<script src="@@webRoot/assets/js/wow.min.js"></script>
<script src="@@webRoot/assets/js/jquery.inputarrow.js"></script>
<script src="@@webRoot/assets/js/script.js"></script>
<script>
  $(".hero-slider").slick({
    slidesToShow: 1,
    // dots: true,
    autoplay: true,
    autoplaySpeed: 6000,
  
  });

  $(".m-ui .ourprod-slide").slick({
    slidesToShow: 1,
    // dots: true,
    autoplay: true,
    autoplaySpeed: 6000,
    swipeToSlide: true,
    
  });

  $(".drag-products").slick({
    slidesToShow: 4,
    slidesToScroll: 4,
    swipeToSlide: true,
    infinite: false,
    touchThreshold: 10,
    variableWidth: true,
    dots: false,
    prevArrow: false,
    nextArrow: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: true,
          infinite: true,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });

  $(".ourprod-content .visual-item").hover(
    function (index) {
      $(".ourprod-view .item").eq($(this).index()).addClass("show");
      $(".ourprod-view .item")
        .eq($(this).index())
        .siblings()
        .removeClass("show");
      $(this).addClass("on");
      $(this).siblings().addClass("off");
    },
    function () {
      $(".ourprod-view .item").removeClass("show");
      $(this).removeClass("on");
      $(this).siblings().removeClass("off");
    }
  );

  function tabMenu() {
    var tabId = $(this).attr("data-tab");

    $(this).addClass("on").siblings("li").removeClass("on");
    $("." + tabId)
      .addClass("on")
      .siblings("div")
      .removeClass("on");
    $(".drag-products").slick("slickUnfilter");
    $(".drag-products").slick("slickFilter", "." + tabId);
  }
  $(document).on("click", ".btn2-tab", tabMenu);

  $(window).scroll(function () {
    if ($(this).scrollTop() >= 200) {
      $(".scr-hder").addClass("on");
    } else {
      $(".scr-hder").removeClass("on");
    }
  });

  $("#openSearch").on("click", function () {
    $(".hder-section").addClass("on");
  });
  $(".btn2-hd-close").on("click", function () {
    $(".hder-section").removeClass("on");
  });
  var theme = {
    init: function () {
      theme.subMenu();
      theme.bsTooltips();
      theme.bsPopovers();
    },
    subMenu: () => {
      (function ($bs) {
        const CLASS_NAME = "has-child-dropdown-show";
        $bs.Dropdown.prototype.toggle = (function (_original) {
          return function () {
            document.querySelectorAll("." + CLASS_NAME).forEach(function (e) {
              e.classList.remove(CLASS_NAME);
            });
            let dd = this._element
              .closest(".dropdown")
              .parentNode.closest(".dropdown");
            for (
              ;
              dd && dd !== document;
              dd = dd.parentNode.closest(".dropdown")
            ) {
              dd.classList.add(CLASS_NAME);
            }
            return _original.call(this);
          };
        })($bs.Dropdown.prototype.toggle);
        document.querySelectorAll(".dropdown").forEach(function (dd) {
          dd.addEventListener("hide.bs.dropdown", function (e) {
            if (this.classList.contains(CLASS_NAME)) {
              this.classList.remove(CLASS_NAME);
              e.preventDefault();
            }
            e.stopPropagation();
          });
        });
      })(bootstrap);
    },
    bsTooltips: () => {
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, {
          trigger: "hover",
        });
      });
      var tooltipTriggerWhite = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="white-tooltip"]')
      );
      var tooltipWhite = tooltipTriggerWhite.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, {
          customClass: "white-tooltip",
          trigger: "hover",
          placement: "left",
        });
      });
    },
    /**
     * Bootstrap Popovers
     * Enables Bootstrap popovers
     * Requires Poppers library
     */
    bsPopovers: () => {
      var popoverTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="popover"]')
      );
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
      });
    },
  };

  theme.init();
</script>
