<section class="ttplus-section main-box seg-box">
  <div class="container">
    <h2 class="tit-main ttplus-title">DỰ ÁN</h2>
  </div>
  <div class="tab-ui tab-ui-nav">
    <ul class="justify-center">
      <li data-tab="seg-all" class="btn2-tab on btn3-filter">
        <button type="button">ALL</button>
      </li>
      <li data-tab="seg-com" class="btn2-tab btn3-filter">
        <button type="button">COMMERCIAL</button>
      </li>
      <li data-tab="seg-res" class="btn2-tab btn3-filter">
        <button type="button">RESIDENTIAL</button>
      </li>
    </ul>
    <div class="slider-margin-0">
      <div class="tab-con seg-all on">
        <div class="overscr-list-wrap">
          <div class="overscr-list">
            <ul class="drag_segments">
              <li class="seg-all seg-com">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Multi-Family.png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Kitchen</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Living Room</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Bathroom</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Bathroom (Open)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Community Lounge</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Cafeteria</a>
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Multifamily</span>
                </div>
                <div class="txt-box"></div>
              </li>

              <li class="seg-all seg-com">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Retail.png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <!----><!----><!----><!---->
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Dining Area</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Display Area</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Reception (Fitness)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Reception (Beauty)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Order/Check-out Area</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Fitting Room</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Changing Room</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Service Area</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Public Restroom</a
                        >
                      </li>
                    </ul>
                  </div>
                  <span>Retail</span>
                </div>
                <div class="txt-box"></div>
              </li>
              <li class="seg-all seg-com">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Healthcare(2).png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Reception</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Lobby</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Corridor</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Patient Room (Cure)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Patient Room (Care)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Exam Room</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Operating Room</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Emergency Room</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Restaurant</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Restroom</a>
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Healthcare</span>
                </div>
                <div class="txt-box"></div>
              </li>
              <li class="seg-all seg-com">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Office.png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Meeting Room 1</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Meeting Room 2</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Cafeteria</a>
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Office</span>
                </div>
                <div class="txt-box"></div>
              </li>
              <li class="seg-all seg-res">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Education(2).png"
                  alt="segments img"
                />
                <div
                  href="javascript:void(0)"
                  class="seg-menu-tit"
                  tabindex="-1"
                >
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Classroom 1</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Classroom 2</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Gym</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Corridor</a>
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Education</span>
                </div>
                <div class="txt-box"></div>
              </li>
              <li class="seg-all seg-res">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Hospitality.png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Lobby</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1">Room</a>
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Hospitality</span>
                </div>
                <div class="txt-box"></div>
              </li>
              <li class="seg-all seg-res">
                <img
                  src="https://img.lxhausys.com/hausys/GL/image/main/segment/Public.png"
                  alt="segments img"
                />
                <div class="seg-menu-tit">
                  <div class="menu-box" style="padding-top: 120px">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Check-in Area</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)" tabindex="-1"
                          >Waiting Area</a
                        >
                      </li>
                      <!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </ul>
                  </div>
                  <span>Public</span>
                </div>
                <div class="txt-box"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
