<div class="main-box ftrd-prod-box">
  <h2 class="tit-main">FEATURED PRODUCTS</h2>
  <div class="tab-ui tab-ui-nav">
    <ul class="justify-center">
      <li data-tab="fpd-all" class="btn-tab on">
        <button type="button">Tất cả</button>
      </li>
      <li data-tab="fpd-Interior" class="btn-tab ">
        <button type="button">Interior Film</button>
      </li>
      <li data-tab="fpd-Decor" class="btn-tab">
        <button type="button">Decor Film</button>
      </li>
      <li data-tab="fpd-PVC" class="btn-tab">
        <button type="button">PVC PET</button>
      </li>
      <li data-tab="fpd-FURNITURE" class="btn-tab">
        <button type="button">FURNITURE</button>
      </li>
    </ul>
    <div class="tab-con fpd-all slider-margin-0 on">
      <div class="overscr-list-wrap">
        <div class="overscr-list">
          <ul class="drag-products">
            <li class="fpd-all fpd-Interior">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/Viatera_Calacatta_CalacattaVerde.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <!---->
                <div class="center-box">
                  <span class="info-ti">Calacatta Verde</span
                  ><span class="info-ki">Calacatta</span>
                </div>
                <!---->
              </div>
            </li>
            <li class="fpd-all fpd-Decor" id="">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/Viatera_Calacatta Plata_MS026.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <!---->
                <div class="center-box">
                  <span class="info-ti">Calacatta Plata</span
                  ><span class="info-ki">Calacatta</span>
                </div>
                <!---->
              </div>
            </li>
            <li class="fpd-all fpd-Interior" id="">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/Viatera_Calacatta Sol_MS025.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <!---->
                <div class="center-box">
                  <span class="info-ti">Calacatta Sol</span
                  ><span class="info-ki">Calacatta</span>
                </div>
                <!---->
              </div>
            </li>
            <li class="fpd-all fpd-Decor" id="">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/Viatera_Materpiece_AdagioGold_MS024.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <!---->
                <div class="center-box">
                  <span class="info-ti">Adagio Gold</span
                  ><span class="info-ki">Masterpiece</span>
                </div>
                <!---->
              </div>
            </li>
            <li class="fpd-all fpd-Interior">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HIMACS_Aurora_AuroraButterCream_M627.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Solid Surface</span>
                <div class="center-box">
                  <span class="info-ti">Aurora Butter Cream</span
                  ><span class="info-ki">Aurora</span>
                </div>
                <a
                  href="products/himacs-solid-surface/aurora-butter-cream/26247"
                  class="btn-golmore"
                  tabindex="0"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-Decor">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HIMACS_Aurora_AuroraLinenCream_M623.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Solid Surface</span>
                <div class="center-box">
                  <span class="info-ti">Aurora Linen Cream</span
                  ><span class="info-ki">Aurora</span>
                </div>
                <a
                  href="products/himacs-solid-surface/aurora-linen-cream/26245"
                  class="btn-golmore"
                  tabindex="0"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-PVC">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HIMACS_Aurora_AuroraCocoa_M624.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Solid Surface</span>
                <div class="center-box">
                  <span class="info-ti">Aurora Cocoa</span
                  ><span class="info-ki">Aurora</span>
                </div>
                <a
                  href="products/himacs-solid-surface/aurora-cocoa/26246"
                  class="btn-golmore"
                  tabindex="0"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-PVC">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HIMACS_Aurora_CalacattaLuna_M801.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Solid Surface</span>
                <div class="center-box">
                  <span class="info-ti">Calacatta Luna</span
                  ><span class="info-ki">Calacatta</span>
                </div>
                <a
                  href="products/himacs-solid-surface/calacatta-luna/26243"
                  class="btn-golmore"
                  tabindex="0"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-FURNITURE">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HIMACS_Aurora_AuroraTerra_M625.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Solid Surface</span>
                <div class="center-box">
                  <span class="info-ti">Aurora Terra</span
                  ><span class="info-ki">Aurora</span>
                </div>
                <a
                  href="products/himacs-solid-surface/aurora-terra/26244"
                  class="btn-golmore"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-FURNITURE">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HFLOR_PRESTG_TuscanMushroom_PTW7911.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Resilient Flooring</span>
                <div class="center-box">
                  <span class="info-ti">TUSCAN MUSHROOM</span
                  ><span class="info-ki">PRESTG Gluedown</span>
                </div>
                <a
                  href="products/hflor/sports-flooring/tuscan-mushroom/6852"
                  class="btn-golmore"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-FURNITURE">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HFLOR_PRESTG_CamelSpectrum_PTW7913.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Resilient Flooring</span>
                <div class="center-box">
                  <span class="info-ti">CARAMEL SPECTRUM</span
                  ><span class="info-ki">PRESTG Gluedown</span>
                </div>
                <a
                  href="products/hflor/sports-flooring/caramel-spectrum/6856"
                  class="btn-golmore"
                ></a>
              </div>
            </li>
            <li class="fpd-all fpd-FURNITURE">
              <img
                src="https://img.lxhausys.com/hausys/GL/image/main/products/HFLOR_RRESTG_CedarLead_PTT6914.jpg"
                alt="product info"
              />
              <div class="txt-box on">
                <span class="info-st">Resilient Flooring</span>
                <div class="center-box">
                  <span class="info-ti">Cedar Lead</span
                  ><span class="info-ki">PRESTG Gluedown</span>
                </div>
                <a
                  href="products/hflor/sports-flooring/cedar-lead/6890"
                  class="btn-golmore"
                ></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
