<section class="ttplus-section">
  <div class="container">
    <h2 class="tit-main ttplus-title">Sản phẩm</h2>
    <p class="text-center h4 mt-4 mb-5">
      Incorporating world-recognized design and technology into the products,
      <br />
      LX Hausys provides the perfect selection for both commercial and
      residential spaces.
    </p>
  </div>
  <div class="ourprod-wrap p-ui">
    <div class="ourprod-view">
      <div class="item" style="width: calc(33.3333%)">
        <div class="bgImage">
          <img
            src="@@webRoot/assets/img/lx/img_op_01_on(1).webp"
            alt="images"
          />
        </div>
      </div>
      <!----><!----><!---->
      <div class="item" style="width: calc(33.3333%); left: calc(33.3333%)">
        <div class="bgImage">
          <img
            src="@@webRoot/assets/img/lx/img_op_03_on(1).webp"
            alt="images"
          />
        </div>
      </div>
      <div class="item" style="width: calc(33.3333%); left: calc(66.6667%)">
        <div class="bgImage">
          <img
            src="@@webRoot/assets/img/lx/img_op_02_on(1).webp"
            alt="images"
          />
        </div>
      </div>
    </div>
    <div class="ourprod-content box-counter">
      <div class="item visual-item item01">
        <div class="tt1">INTERIOR FILM</div>
        <strong class="pro-detail-tit">Resilient Flooring</strong>

        <svg
          width="61"
          height="61"
          viewBox="0 0 61 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="pd-icon"
        >
          <path
            d="M59.37 2H2V59.37H59.37V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.25 2H21.12V59.37H40.25V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 41.96H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 23.86H59.36"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M2 21.12H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
        </svg>
        <div class="area">
          <p class="text">
            A Perfect Flooring Selection <br />
            Engineered with Precision
          </p>
          <a
            href="https://www.lxhausys.com/gl/products/hflor/hflor-finder/lvt-flooring"
            class="btn2-golmore"
          ></a>
        </div>
      </div>
      <div class="item visual-item item02">
        <div class="tt1">DECOR FILM</div>

        <strong class="pro-detail-tit" style="display: none"
          >Quartz Surface</strong
        ><strong class="pro-detail-tit" style="display: none"
          >Solid Surface</strong
        ><strong class="pro-detail-tit">Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="pd-icon"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
        </svg>
        <div class="area">
          <p class="text" style="display: none">
            Inspired by the Moment of Life. <br />
            Inspired by Nature.
          </p>
          <a
            href="https://www.lxhausys.com/gl/products/viatera-quartz-surface/viatera-finder"
            class="btn2-golmore"
            style="display: none"
          ></a>
          <p class="text">
            The New Generation of Design <br />
            Inspiration
          </p>
          <a
            href="https://www.lxhausys.com/gl/products/himacs-solid-surface/himacs-finder"
            class="btn2-golmore"
          ></a
          ><a
            href="https://www.lxhausys.com/gl/products/himacs/himacsfinder"
            class="btn2-golmore"
            style="display: none"
          ></a>
        </div>
      </div>
      <div class="item visual-item item03">
        <div class="tt1">PVC PET</div>

        <strong class="pro-detail-tit" style="">Quartz Surface</strong
        ><strong class="pro-detail-tit" style="display: none"
          >Solid Surface</strong
        ><strong class="pro-detail-tit" style="display: none"
          >Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="pd-icon"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
        </svg>
        <div class="area">
          <p class="text" style="">
            Inspired by the Moment of Life. <br />
            Inspired by Nature.
          </p>
          <a
            href="https://www.lxhausys.com/gl/products/viatera-quartz-surface/viatera-finder"
            class="btn2-golmore"
            style=""
          ></a>
          <p class="text" style="display: none">
            The New Generation of Design <br />
            Inspiration
          </p>
          <a
            href="https://www.lxhausys.com/gl/products/himacs-solid-surface/himacs-finder"
            class="btn2-golmore"
            style="display: none"
          ></a
          ><a
            href="https://www.lxhausys.com/gl/products/himacs/himacsfinder"
            class="btn2-golmore"
            style="display: none"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="ourprod-wrap tab-ui">
    <div class="ourprod-slide">
      <div class="s-item stm01">
        <div class="tt1">INTERIOR FILM</div>
        <strong class="title">Resilient Flooring</strong
        ><svg
          width="61"
          height="61"
          viewBox="0 0 61 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.37 2H2V59.37H59.37V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.25 2H21.12V59.37H40.25V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 41.96H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 23.86H59.36"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M2 21.12H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products/hflor/hFlor-finder/lvt-flooring"
          class="btn2-golmore"
        ></a>
      </div>
      <div class="s-item stm02" >
        <div class="tt1">DECOR FILM</div>

        <strong class="title" style="display: none">Quartz Surface</strong
        ><strong class="title">Solid Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products/viatera/viaterafinder"
          class="btn2-golmore"
          style="display: none"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs-solid-surface/himacs-finder"
          class="btn2-golmore"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs/himacsfinder"
          class="btn2-golmore"
          style="display: none"
        ></a>
      </div>
      <div class="s-item stm03">
        <div class="tt1">PVC PET</div>

        <strong class="title" style="">Quartz Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products.html#/viatera/viaterafinder"
          class="btn2-golmore"
          style=""
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products.html#/himacs/himacsfinder"
          class="btn2-golmore"
          style="display: none"
        ></a>
      </div>
    </div>
  </div>
  <div class="ourprod-wrap m-ui">
    <div class="ourprod-slide">
      <div class="s-item stm01" style="background-image: url(https://img.lxhausys.com/public/images/main/img_op_01_on.webp)">
        <div class="tt1">INTERIOR FILM </div>
        <strong class="title">Resilient Flooring</strong
        ><svg
          width="61"
          height="61"
          viewBox="0 0 61 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.37 2H2V59.37H59.37V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.25 2H21.12V59.37H40.25V2Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 41.96H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M40.24 23.86H59.36"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M2 21.12H21.13"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products/hflor/hflor-finder/lvt-flooring"
          class="btn2-golmore"
        ></a>
      </div>
      <div class="s-item stm02">
        <div class="tt1">DECOR FILM</div>

        <strong class="title" style="display: none">Quartz Surface</strong
        ><strong class="title">Solid Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products/viatera-quartz-surface/viatera-finder"
          class="btn2-golmore"
          style="display: none"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs-solid-surface/himacs-finder"
          class="btn2-golmore"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs/himacsfinder"
          class="btn2-golmore"
          style="display: none"
        ></a>
      </div>
      <div class="s-item stm03">
        <div class="tt1">PVC PET</div>

        <strong class="title">Quartz Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><strong class="title" style="display: none">Solid Surface</strong
        ><svg
          width="62"
          height="62"
          viewBox="0 0 62 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.69 2.32001H2.32V59.69H59.69V2.32001Z"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M36.37 2.32001V36.37H2.32"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M25.14 59.19V25.14H59.19"
            stroke="white"
            stroke-width="3"
            stroke-miterlimit="10"
          ></path></svg
        ><a
          href="https://www.lxhausys.com/gl/products/viatera-quartz-surface/viatera-finder"
          class="btn2-golmore"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs-solid-surface/himacs-finder"
          class="btn2-golmore"
          style="display: none"
        ></a
        ><a
          href="https://www.lxhausys.com/gl/products/himacs/himacsfinder"
          class="btn2-golmore"
          style="display: none"
        ></a>
      </div>
    </div>
  </div>
</section>
