<div class="main-box">
  <div class="slider-prod p-ui main-slider hero-slider">
    <div value="PRESTG Collection by HFLOR" class="slider">
      <div class="txt-box">
        <div class="bannerRect"></div>
        <p class="txt-01">INTERIOR FILM</p>
        <hr />
        <p class="txt-02">Thiết kế - Thi Công Nội Thất</p>
        <a href="javascript:void(0)" class="btn2-more" tabindex="-1"
          ><span>Xem thêm</span></a
        >
        <hr />
      </div>
      <div class="bannerGradient"></div>
      <img
        src="https://img.lxhausys.com/lxhausys/02_GL/09_Main/02_Main_Banner/main_01_aurora.jpg"
        alt="images"
      />
    </div>
    <div value="Deco Foil Collection" class="slider">
      <div class="txt-box">
        <div class="bannerRect"></div>
        <p class="txt-01">PVC DECO FILM</p>
        <hr />
        <p class="txt-02">Thiết kế - Thi Công Nội Thất</p>
        <a href="javascript:void(0)" class="btn2-more" tabindex="-1"
          ><span>Xem thêm</span></a
        >
        <hr />
      </div>
      <div class="bannerGradient"></div>
      <img
        src="https://img.lxhausys.com/lxhausys/02_GL/09_Main/02_Main_Banner/M628%20Aurora%20Daymoon_main%20banner.jpg"
        alt="images"
      />
    </div>
  </div>
  <!---->
</div>
